html,
body {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 100%;
}

.sandbox {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

.description__title {
  font-size: larger;
  padding-bottom: 1em;
}

.game {
  background: black;
  display: block;
  height: 450px;
  width: 800px;
}
